* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eaeaea;
}

.nav {
  width: 100%;
  padding: 20px;
}
.nav .nav-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-con .icon {
  display: flex;
}
.nav .nav-con .icon i {
  margin-top: 20px;
  font-size: 24px;
}
.nav .nav-con .qpic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.nav .nav-con .qpic .vector {
  display: flex;
  gap: 10px;
}
@media (max-width: 500px) {
  .nav .nav-con .qpic .vector {
    display: none;
  }
}

.sec-1 {
  width: 100%;
}
.sec-1 .sec1-con {
  max-width: 1250px;
  margin: 0 auto;
}
.sec-1 .sec1-con img {
  margin-bottom: 9px;
  margin-left: 350px;
}
.sec-1 .sec1-con .m2 {
  background-image: url(img/Banner.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 218px;
}
.sec-1 .sec1-con .m1 {
  display: none;
}
@media (max-width: 500px) {
  .sec-1 {
    width: 0;
    padding: 0;
  }
  .sec-1 .sec1-con {
    width: 300px;
    flex-direction: column;
  }
  .sec-1 .sec1-con .m2 {
    display: none;
  }
  .sec-1 .sec1-con img {
    width: 330px;
    margin-left: 10px;
  }
  .sec-1 .sec1-con .m1 {
    display: block;
    margin-left: 0px;
  }
}

.sec-2 {
  width: 100%;
}
.sec-2 .sec2-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
.sec-2 .sec2-con .card-all {
  display: flex;
  gap: 90px;
}
.sec-2 .sec2-con .card-all .card {
  width: 350px;
  height: 407px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  border: none;
}
.sec-2 .sec2-con .card-all .card h1 {
  font-size: 27px;
  font-weight: 700;
}
.sec-2 .sec2-con .card-all .card img {
  margin-top: 30px;
}
@media (max-width: 500px) {
  .sec-2 .sec2-con .card-all {
    flex-direction: column;
  }
  .sec-2 .sec2-con .card-all .card {
    width: 300px;
  }
}

.sec-3 {
  width: 100%;
}
.sec-3 .sec3-con {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
  flex-direction: column;
}
.sec-3 .sec3-con .card-naushnik {
  gap: 50px;
  display: flex;
}
.sec-3 .sec3-con .card-naushnik img {
  margin-top: 30px;
}
.sec-3 .sec3-con .card-naushnik .naush {
  width: 350px;
  height: 407px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  border: none;
}
.sec-3 .sec3-con .card-naushnik .naush .apple12 {
  justify-content: space-between;
  display: flex;
  padding: 20px;
  margin-top: 30px;
}
.sec-3 .sec3-con .card-naushnik .naush .apple12 h2 span {
  font-size: 20px;
  color: #ffce7f;
  text-decoration: line-through;
}
.sec-3 .sec3-con .card-naushnik .naush .apple12 p {
  margin-right: 140px;
  margin-top: 36px;
}
.sec-3 .sec3-con .card-naushnik .naush .apple12 p i {
  color: gold;
}
.sec-3 .sec3-con .card-naushnik .naush .apple {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}
.sec-3 .sec3-con .card-naushnik .naush .apple h2 span {
  font-size: 20px;
  color: #ffce7f;
  text-decoration: line-through;
}
.sec-3 .sec3-con .card-naushnik .naush .apple p {
  margin-right: 140px;
  margin-top: 36px;
}
.sec-3 .sec3-con .card-naushnik .naush .apple p i {
  color: gold;
}
.sec-3 .sec3-con .card-naushnik1 {
  display: flex;
  gap: 50px;
}
.sec-3 .sec3-con .card-naushnik1 .naush {
  width: 350px;
  height: 407px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  border: none;
}
.sec-3 .sec3-con .card-naushnik1 .naush .apple12 {
  justify-content: space-between;
  display: flex;
  padding: 20px;
  margin-top: 30px;
}
.sec-3 .sec3-con .card-naushnik1 .naush .apple12 h2 span {
  font-size: 20px;
  color: #ffce7f;
  text-decoration: line-through;
}
.sec-3 .sec3-con .card-naushnik1 .naush .apple12 p {
  margin-right: 140px;
  margin-top: 36px;
}
.sec-3 .sec3-con .card-naushnik1 .naush .apple12 p i {
  color: gold;
}
.sec-3 .sec3-con .card-naushnik1 .naush .apple {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}
.sec-3 .sec3-con .card-naushnik1 .naush .apple h2 span {
  font-size: 20px;
  color: #ffce7f;
  text-decoration: line-through;
}
.sec-3 .sec3-con .card-naushnik1 .naush .apple p {
  margin-right: 140px;
  margin-top: 36px;
}
.sec-3 .sec3-con .card-naushnik1 .naush .apple p i {
  color: gold;
}
.sec-3 .sec3-con .card-naushnik2 {
  display: flex;
  gap: 50px;
}
.sec-3 .sec3-con .card-naushnik2 .naush {
  width: 350px;
  height: 407px;
  border: 1px solid;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  border: none;
}
.sec-3 .sec3-con .card-naushnik2 .naush .apple12 {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}
.sec-3 .sec3-con .card-naushnik2 .naush .apple12 h2 span {
  font-size: 20px;
  color: #ffce7f;
  text-decoration: line-through;
}
.sec-3 .sec3-con .card-naushnik2 .naush .apple12 p {
  margin-right: 140px;
  margin-top: 36px;
}
.sec-3 .sec3-con .card-naushnik2 .naush .apple12 p i {
  color: gold;
}
.sec-3 .sec3-con .card-naushnik2 .naush .apple {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}
.sec-3 .sec3-con .card-naushnik2 .naush .apple h2 span {
  font-size: 20px;
  color: #ffce7f;
  text-decoration: line-through;
}
.sec-3 .sec3-con .card-naushnik2 .naush .apple p {
  margin-right: 140px;
  margin-top: 36px;
}
.sec-3 .sec3-con .card-naushnik2 .naush .apple p i {
  color: gold;
}
@media (max-width: 500px) {
  .sec-3 .sec3-con .card-naushnik {
    flex-direction: column;
  }
  .sec-3 .sec3-con .card-naushnik .naush {
    width: 320px;
  }
  .sec-3 .sec3-con .card-naushnik1 {
    flex-direction: column;
  }
  .sec-3 .sec3-con .card-naushnik1 .naush {
    width: 320px;
  }
  .sec-3 .sec3-con .card-naushnik2 {
    flex-direction: column;
  }
  .sec-3 .sec3-con .card-naushnik2 .naush {
    width: 320px;
  }
}

footer {
  width: 100%;
  margin-top: 100px;
}
footer .ms {
  max-width: 1250px;
  background-color: #fff;
  height: 130px;
  margin: 0 auto;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-flex {
  display: flex;
  gap: 50px;
}
footer .footer-flex h1 {
  font-size: 25px;
}
@media (max-width: 500px) {
  footer .footer-flex {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */